name: Notificacion CI

on:
  push:
    branches:
      - main

jobs:
  notificar:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del repositorio
        uses: actions/checkout@v4

      - name: Enviar notificacion a ntfy
        run: |
          curl -H "Title: Nuevo Push en main" \
               -H "Priority: high" \
               -d "Se actualizo la pagina web en GitHub Pages" \
               https://ntfy.sh/devops-itla
